html {
	/*background-image: url('../../public/assets/school-bg.jpg');*/
	
}
body {
	/*background: linear-gradient(to right, rgba(206,255,250,0.97) 0%,rgba(239,251,255,1) 50%,rgba(206,255,250,0.97) 100%);*/
	background: linear-gradient(to right, rgba(188,208,242,.35) 0%,rgba(188,208,242,1) 50%,rgba(188,208,242,.35) 100%);
	padding-bottom: 30px;
}

h1, h2, input {
  font-family: 'Magallanes', sans-serif; 
  font-weight: bold;
  text-align: center;
  margin: 0;
}

h3, h4, h5, h6, p {
  font-family: 'Botanika Mono Web', monospace;
  margin: 0;
}

h2 {
	font-size: 20px;
	margin: 2px;
	height: 42px;
}
