html {
  /*background-image: url('../../public/assets/school-bg.jpg');*/ }

body {
  /*background: linear-gradient(to right, rgba(82,191,255,1) 0%,rgba(44,137,191,1) 50%,rgba(82,191,255,1) 100%);*/
  background: linear-gradient(to right, rgba(82, 191, 255, 0.1) 0%, rgba(82, 191, 255, 0.7) 50%, rgba(82, 191, 255, 0.1) 100%);
  padding-bottom: 30px; }

h1, h2, input {
  font-family: 'Magallanes', sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 0;
  opacity: .8;
  color: #2c89bf; }

input {
  opacity: 1; }

h3, h4, h5, h6, p {
  font-family: 'Botanika Mono Web', monospace;
  margin: 0;
  opacity: .8; }

p {
  color: #a61608; }

h2 {
  font-size: 20px;
  margin: 2px;
  height: 42px; }

.app-component h4 {
  text-align: center;
  height: 20px;
  color: #a61608; }
