.card-component {
  background-color: white;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  margin: 6px;
  width: 251px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer; }

.card-component:hover {
  background-color: #eff2fa; }

.card-info-block {
  width: 116px;
  margin: 0 auto; }

.info-span {
  font-weight: 900;
  margin-right: 10px; }

hr {
  border: 2px solid black;
  opacity: .06;
  width: 90%; }

.change-green {
  color: #0d0262;
  opacity: .7; }

.highlighted {
  background-color: #f9ead9; }

.highlighted:hover {
  background-color: #f6ddc1; }
