.comparison-center {
	width: 263px;
	height: 285px;
	position: absolute;
  top: 0;
  left: calc(50% - 130px);
  display: flex;
  flex-direction: column;
 	justify-content: space-around;

  h3 {
  	font-size: 50px;
  	text-align: center;
  	color: #1c6d9c;
  }

  h4 {
  	font-size: 20px;
  	text-align: center;
  	color: #1c6d9c;
  	opacity: .6;
    line-height: .9;
  }

  h5 {
  	font-size: 20px;
  	text-align: center;
  	font-family: 'Magallanes', sans-serif;
    color: #004973;
  }

  h6 {
  	text-align: center;
  	font-family: 'Magallanes', sans-serif;
  	color: #1c6d9c;
  	opacity: .7;
  }

  .arrow-left {
  	position: absolute;
  	top: 5px;
  	left: -29px;
  	width: 296px;
  	z-index: -2;
  }

  .arrow-right {
  	position: absolute;
  	bottom: 5px;
  	right: -29px;
  	width: 296px;
  	z-index: -2;
  }
}