input {
  width: 308px;
  height: 40px;
  border-radius: 5px;
  display: block;
  margin: 20px auto;
  border: none;
  font-size: 20px;
  box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.3)
}

::placeholder {
	text-align: center;
	opacity: .6;
}