input {
  width: 308px;
  height: 40px;
  border-radius: 5px;
  display: block;
  margin: 20px auto;
  border: none;
  font-size: 20px;
  color: #2c89bf;
}

::placeholder {
  color: #2c89bf;
	text-align: center;
	opacity: .6;
}

.search-container {
  background-color: rgba(255,255,255,.3);
  padding: 1px;
  margin: 0px 0 14px;

  img {
    width: 300px;
    position: absolute;
    left: 20px;
    top: 15px;
  }
}